header{
    padding: 40px 200px 0px 200px ;   
    max-width: 100%;
    margin: 0 auto;
}
.top-row{
    width: 390px;
    height: 74px;
    flex-grow: 1;
    display: flex;

}
#logo{
    width: 273px;
    height: 74px;
    font-family: Segoe UI;
    font-weight: 400px;
    font-style: Regular;
    font-size: 28px;
    line-height: 132%;
    letter-spacing: 12.5%;
    text-transform: uppercase;
    color: #2C145E;
}
#icon{
    width: 93px;
    height: 66px;
}
.header-hr{
    width: 100%;
    height: 0px;
    opacity: 1;
    border-width: 1px;
    color: #6C6E7B;
}
